# Database
DATABASE_URL="postgresql://user:password@localhost:5432/database"
DIRECT_URL="postgresql://user:password@localhost:5432/database"

# AWS S3 / Supabase Configuration
AWS_REGION=your-region
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
SUPABASE_ENDPOINT_URL=your-supabase-endpoint
SUPABASE_BUCKET_NAME=images
UPLOAD_DIR=uploads

# JWT Secret
JWT_SECRET=your-jwt-secret-key

# Server Port
PORT=3000
